@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.my-account {
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    @include respond(sm) {
        font-size: 14px;
    }

    &__layout {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__protect {
        display: flex;
        align-items: center;
        gap: 5px;
        color: green;
    }

    &__banner {
        font-size: 15px;
    }

    &__banner-list {
        display: flex;
        gap: 30px;
        background-color: rgba(255, 72, 18, 0.2);
        border-radius: 8px;
        padding: 10px 30px;
    }

    &__banner-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    &__content {
        font-size: 14px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__form-content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
            padding: 5px 10px;
        }

        span {
            color: red;
        }
    }
}