@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.favorəte-cards {
    padding: 20px 0;

    .favorite-list__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-top: 10px;

        @include respond(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond(sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}