@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.skeleton-card {

    &__item {
        width: 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
        transition: 0.3s;
        position: relative;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
        }
    }

    &__wrapper {
        padding: 10px;
    }

    &__image {
        height: 50px;
        margin: 0 auto;
        border-radius: 10px;
        animation: pulse 1.5s infinite ease-in-out;
        width: 100%;
        height: 215px;
        background-color: #e0e0e0;
        margin-bottom: 15px;

        p {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        background-color: #e0e0e0;
        height: 31px;
        border-radius: 8px;
    }

    &__description {
        background-color: #e0e0e0;
        height: 41px;
        border-radius: 8px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__rating,
    &__stars,
    &__stock {
        background-color: #e0e0e0;
        height: 21px;
        border-radius: 7px;
    }

    &__rating {
        width: 29px;
    }

    &__stars {
        width: 80px;
    }

    &__stock {
        width: 57px;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
    }

    &__current-price,
    &__old-price {
        background-color: #e0e0e0;
        height: 20px;
        width: 37px;
        border-radius: 7px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__details-btn,
    &__basket-btn {
        background-color: #e0e0e0;
        height: 30;
        border-radius: 7px;
    }

    &__details-btn {
        width: 50px;
    }

    &__basket-btn {
        width: 120px;
    }
}