@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

footer {
    background-color: black;
    padding: 10px 30px;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;

    &__link {
        display: flex;
        gap: 10px;
    }
}